<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet"></link>
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.css" media="screen,projection"></link>
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection"></link>
<style type="text/css">
table.striped>tbody>tr:nth-child(odd) {
    background-color: rgba(158, 154, 154, 0.5); 
}

form input[type=submit]{
color: white;
}

</style>
</head>
<body class="container">
	<h4>CADASTRO DE PESSOA</h4> <a href="http://localhost:8080/login?logout" class="waves-effect waves-light btn">
						<input type="submit" value="Sair"></input></a>

	<div class="row">
		<form action="salvarpessoa" id="formpessoa" method="post" th:object="${pessoaobj}"
			class="col s12">

			<div class="row">
				<div class="input-field col s6">
					<label for="id" class="active">ID:</label> <input name="id"
						readonly="readonly" th:field="*{id}" id="id" class="validate"></input>
				</div>

				<div class="input-field col s6">
					<input name="nome" th:field="*{nome}" id="nome" type="text" class="validate" required="required"></input>
					<label for="nome" class="active">Nome:</label> 
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">					
					<input name="sobrenome" id="sobrenome" th:field="*{sobrenome}" type="text"
						class="validate" required="required"></input>
					<label for="sobrenome" class="active">Sobrenome:</label> 
				</div>
			</div>

			<div class="row" sec:authorize="hasRole('ROLE_ADMIN')"> <!-- Permite acesso a este DIV apenas ao ADMIN. P/ permitir acesso a mais de um tipo de usuário: 'hasAnyRole' -->
				<div class="input-field col s12">
					 <input name="idade" id="idade" th:field="*{idade}" class="validate" required="required"></input>
					 <label for="idade" class="active">Idade:</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6">
					<a class="waves-effect waves-light btn"><input type="submit"
						value="Salvar"></input></a>
					<button class="waves-effect waves-light btn" onclick="document.getElementById('formpessoa'.reset());">Novo</button>	
				</div>
			</div>
		</form>
	</div>

	<div class="row">
		<form action="pesquisarpessoa" method="post">
			<div class="row">
				<div class="input-field col s12">
					<label for="nomepesquisa" class="active">Pesquisa por nome:</label>
					<input name="nomepesquisa" id="nomepesquisa" class="validate"></input>
					<input class="waves-effect waves-light btn" type="submit"
						value="Buscar"></input>
					<a class="waves-effect waves-light btn" href="/listapessoas">Listar Pessoas</a>
				</div>
			</div>
		</form>
	</div>

	<table class="striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Sobrenome</th>
			<th>Idade</th>
			<th>Editar</th>
			<th>Excluir</th>
		</tr>
	</thead>
		<tr th:each="pessoa : ${pessoas}">
			<td th:text="${pessoa.id}"></td>
			<td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text="${pessoa.nome}"></span></a></td>
			<td th:text="${pessoa.sobrenome}"></td>
			<td th:text="${pessoa.idade}"></td>
			<td><a
				th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
			<td><a
				th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
		</tr>
	</table>


	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</html>