<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Olá Spring</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>

<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></link> 
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<style type="text/css">
body{
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 200px;
  text-align: center;
}

</style>

</head>
<body>	

<h1>Controle de clientes teste</h1>

<h2>Promotora de Vendas: Antônia Almeida</h2>

<img width="300" height="300" src="img/imagem.jpg"/>

<div class="col s12 m2">

<a href ="/cadastropessoa">Cadastro de clientes</a>	

</div>

</body>
</html>	