<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Seja bem vindo!</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css" media="screen,projection"></link>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection"></link>

<style type="text/css">

	form input[type=submit]{
	color: white;
}

</style>

</head>
<body>

<h1>Sistema de controle de clientes Mary Kay</h1>

<h1>Acesso ao sistema</h1>

<form th:action="@{/login}" method="post" class="col s12">
	
	<div class="row">
		<div class="input-field col s6">
			<label>Login</label>
			<input type="text" name="username"></input>
		</div>
	</div>
	
		<div class="row">
		<div class="input-field col s6">
			<label>Senha</label>
			<input type="password" name="password"></input>
		</div>
	</div>
		
		<div>
			<div class="input-field col s6">
				<a class="waves-effect waves-light btn"><input type="submit" name="Logar" 
				value="logar"></input></a>
			</div>
		</div>
	</form>


	


<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</html>	